.filters {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.filter__item {
  border: 1px solid gray;
  width: 220px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: #000;
  color: #fff;
}
.filter__item:hover {
  cursor: pointer;
  background-color: #59b3e8b9;
  transition: 0.4s;
}
