.navigation__bar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  background-color: #184963;
  color: #fff;
}

.cart {
  position: relative;

  width: 40px;
}

.cart__count {
  position: absolute;
  top: -5px;
  right: 2px;
  font-size: 15px;
}
