.popup {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgb(65, 230, 65);
  color: #fff;
  padding: 15px;
  width: 200px;
  border-radius: 12px;
  transition: 0.8 ease-in-out;
}
